<input
  type="radio"
  name="<%= "booking[#{input_name_key}]" %>"
  value="<%= id %>"
  id="<%= id %>"
  <%= "checked" if checked %>
  class="service_type-radio_option"
>
<label for="<%= id %>">
  <%= image_tag label_icon_url %>
  <span class="radio_label--sm"><%= label_title_short %></span>
  <span class="radio_label--lg"><%= label_title %></span>
</label>


<!--<div class="sitter-search-form_radio-checkbox<%#= checked_variant %>">-->

<!--  <div class="sitter-search-form_label">-->
<!--    <span class="sitter-search-form_label-icon">-->
      <%#= image_tag label_icon_url %>
<!--    </span>-->

<!--    <span class="sitter-search-form_label-title<%#= checked_variant %>">-->
<!--      <span class="sitter-search-form_label-title--lg">-->
        <%#= label_title %>
<!--      </span>-->
<!--      <span class="sitter-search-form_label-title--sm">-->
        <%#= label_title_short %>
<!--      </span>-->
<!--    </span>-->
<!--  </div>-->

<!--  <div class="sitter-search-form_label-description_container">-->
<!--    <p class="sitter-search-form_label-description<%#= checked_variant %>">-->
      <%#= label_description %>
<!--    </p>-->

    <%#= image_tag "radio-checkbox#{checked_variant}.svg" %>
<!--  </div>-->
<!--</div>-->
